@font-face {
    font-family:"bricks" ;
    src: url(../style/brick.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#0c1022;
}

ul{
    margin-left: 2vw;
    color: #a9a9a9;
}

#info{
    size-adjust: 10vw;
    background-size: 10vw;
    flex-direction: column;
    color: #a9a9a9;

}

#reste{
    display: inline;
    margin-right: 5vw;
}

h2{
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-decoration: underline solid;
}

.cv{
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
}

h3, h2{
    color: #ee00ff;
}


div#contact {
   
}

div#id {


}