*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-image: url(../assets/vaporwave2.jpg);
    background-position: 50%;
    background-position-y: 35%;
    background-size: 100%;
    text-align: center;
}

body{
    background-color:#0c1022;
}

div#image1{
    size-adjust: 10vw;
    background-size: 10vw;
    border: red 10px solid;

}

p, h1{
    color: #00ccff;
}
h3, h2{
    color: #ee00ff;
}

div#info{
    block-size: auto;
    text-align:right ;
}

div#contact {
    font-size: x-large;
}