*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titre{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 0, 54);
    color: whitesmoke;
}